<div ng-controller="importController">
    <h1 class="page-header">IMPORT PAGE
        
    </h1>
    <!-- begin row -->
    <div class="row m-b-15 m-t-20" >
        <div class="col-lg-offset-4 col-lg-4">
            <label class="text-center control-label" style="width: 100%" for="period">Add EXCEL file</label>
            <form class="dropzone" method="post" enctype="multipart/form-data"
                  ng-dropzone dropzone="csmDropzone" dropzone-config="csmDropzoneConfig"
                  event-handlers="{ 'success':csmSuccess, 'error':csmError }"></form>
        </div>
    </div>
</div>		
