<div ng-controller="voiceController">
    <h1 class="page-header">MTN Voice Bundles 
        <a class="btn btn-xs btn-white" ng-click="export()" ng-disabled="Working() || exporting || !charts.length">
            <i class="fa fa-file-pdf-o"></i>&nbsp;
            Export to PDF 
            <i class="fa fa-spinner fa-pulse" ng-show="exporting"></i>
        </a>
    </h1>
    <!-- begin row -->
    <div class="row m-b-15 m-t-20" >
        <div class="col-lg-offset-4 col-lg-4">
            <label class="text-center control-label" style="width: 100%" for="period">Select the period</label>
            <input ng-disabled="Working()" id="period" date-range-picker options="rangeOptions" class="form-control date-picker" type="text" ng-model="rangePicker.date" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voiceallWorking"></i>
                    <div id="voiceall" ng-show="!voiceallWorking">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voice1Working"></i>
                    <div id="bundle1" ng-show="!voice1Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voice3Working"></i>
                    <div id="voice3"ng-show="!voice3Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="bundle2Working"></i>
                    <div id="bundle2"ng-show="!bundle2Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="bundle3Working"></i>
                    <div id="bundle3" ng-show="!bundle3Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="bundle4Working"></i>
                    <div id="bundle4" ng-show="!bundle4Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="bundle9Working"></i>
                    <div id="bundle9" ng-show="!bundle9Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voice35Working"></i>
                    <div id="voice35" ng-show="!voice35Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voice7Working"></i>
                    <div id="voice7" ng-show="!voice7Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voice8Working"></i>
                    <div id="voice8" ng-show="!voice8Working">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-body text-center">
                    <i class="fa fa-spinner fa-pulse" ng-show="voice9Working"></i>
                    <div id="voice9" ng-show="!voice9Working">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <script type="text/ng-template" id="ModalChartComment.html">
        <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Comment</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="form-horizontal">
                <textarea autofocus style="resize: none" class="form-control" placeholder="Comment" ng-model="comment"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse" type="button" ng-click="saveComment()">Save</button>
            <button class="btn btn-white" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>		
