<!-- begin #top-menu -->
<div id="top-menu" class="top-menu" ng-controller="topMenuController">
    <div class="container-fluid">
        <!-- begin top-menu nav -->
        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref="app.in.mtnwanda">
                    <!--<i class="fa fa-globe"></i>--> 
                    <span>MTN WANDA</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.in.goBundle">
                    <!--<i class="fa fa-globe"></i>--> 
                    <span>GO BUNDLES</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.in.voiceBundle">
                    <!--<i class="fa fa-globe"></i>--> 
                    <span>VOICE BUNDLES</span>
                </a>
            </li>
            <li class="menu-control menu-control-left">
                <a href="#" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="menu-control menu-control-right">
                <a href="#" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
        <!-- end top-menu nav -->
    </div>
</div>
<!-- end #top-menu -->