<!-- begin coming-soon -->
<div class="coming-soon" ng-controller="comingSoonController">
    <div class="coming-soon-header">
        <div class="bg-cover"></div>
        <div class="brand">
            <img class="logo-img" style="display: inline" src="assets/img/logo-mtn.jpeg" alt="Logo" width="60" height="60">
            Product Dashboard
        </div>
        <div class="timer">
            <div id="timer"></div>
        </div>
        <div class="desc">
            Our platform is almost there and it’s built from scratch!
        </div>
    </div>
    <div class="coming-soon-content">
        <div class="desc">
            We are launching a closed <b>beta</b> soon!<br />
        </div>
    </div>
</div>
<!-- end coming-soon -->